<div class="media">
  <div class="media-left">
    <% if comment.user.avatar.present? %>
      <%= image_tag comment.user.avatar.comment.url, class: "media-object" %>
    <% else %>
      <img src="http://placehold.it/64/DFF0D8" class="media-object">
    <% end %>
  </div>
  <div class="media-body">
      <h4 class="media-heading">
        <%= comment.user.name %>
      </h4>
    <p><%= comment.body %></p>
  </div>
  <div class="media-right">
    <%= link_to [comment.post.topic, comment.post, comment], method: :delete, class: 'media-heading pull-right' do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
  </div>
</div>