<%= form_for [comment.post, comment] do |f| %>
   <div class="form-group">
     <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Enter comment" %>
   </div>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-primary pull-right' %>
   </div>
<% end %>